.modal-content-footer-echipa {
  background: #161616;
}

.close-footer > svg {
  stroke: white;
}

.footer-modal-echipa-header {
  color: white;
}

.footer-modal-echipa-text {
  color: white;
}

.modal-footer-picture {
  border: 2px solid white;
}

.modal-footer-name {
  color: white;
}

.modal-footer-role {
  color: white;
}

.modal-footer-link > svg {
  fill: white;
}
