<footer class="footer">
    <div class="container">
        <div class="for-footer">
            <span class="footer-text footer-text-for-flex">
                Developed with
                <svg class="footer-heart" width="22" height="22">
                    <use class="footer-heart-icon" href="./images/icons/SPRITE.svg#icon-heart"></use>
                </svg>
                <span class="footer-text footer-text-modal">
                    by
                    <button class="footer-link footer-text-modal" id="openFooter">
                        <span class="footer-link-text"> GoIT Students</span>
                    </button>
                </span>
            </span>
        </div>
        <div class="footer-modal is-hidden" id="footer-modal">
            <div class="modal-content-footer">
                
                <button type="button" class="close-footer" id="closeFooter">
                  <svg class="footer-close" width="32" height="32">
                    <use class="footer-close-icon" href="./images/icons/SPRITE.svg#icon-x-mobile"></use>
                  </svg>
                </button>
                <h1 class="modal-header">Contributors</h1>
                <ul>
                  <li class="member">Aimee Cocioc</li>
                  <li class="member">Alina Petcu</li>
                  <li class="member">Cristina Bubu</li>
                  <li class="member">Catalin Negoita</li>
                  <li class="member">George Anca</li>
                  <li class="member">Ramon Ciutre</li>
                  <li class="member">Stefan Craciun</li>
  
                </ul>
            </div>
        </div>
    </div>
  </footer>